------------------------------------------------------------------------
Archivo de descripcion del Proyecto
------------------------------------------------------------------------

Titulo:

Version: 0.0.0 (Alfa)

Fecha: [dia] de [mes] de 2009

Autor: Ricardo D. Quiroga -> L2Radamanthys

Email:
    l2radamanthys@gmail.com
    l2radamanthys@saltalug.org.ar
    ricardoquiroga.dev@gmail.com

Sitio Web:
    http://www.l2radamanthys.com.ar
    http://l2radamanthys.blogspot.com

Descripcion:


Terminos y Condiciones:
    Este Codigo Fuente es Software Libre y esta bajo terminos de la GNU General 
    Public Licence publicada por la Free Software Foundation (http://www.fsf.org) 
    version 2 de la licencia u/o (opcionalmente) otras versiones de la licencia.
    
    Usted puede redistribuir y/o modificar este Codigo Fuente siguiendo los 
    terminos de la GNU General Public Licence para mayor informacion vease la 
    copia de la licencia que se adjunta con este Codigo  Fuente.
