/**
Autor: Ricardo D. Quiroga
Version: 0.0.0
Fecha: dia de Mes de Anio
Descripcion:
*/

$PKGLINE


public interface $CLASSNAME {
	/**************************************************************************
    Descipcion de la Interfaz
    ***************************************************************************/
    
    //-------------------- Metodos ---------------------------------//
    
    /*
    Documentacion del metodo
    */
	void metodo_ejemplo(int y);
}
