/**
lib_name
===========
	
	Version: 0.0.0  
	
	Autor: Ricardo D. Quiroga->L2Radamanthys
	
	Fecha: -- de -- de 200-
	
	E-mail:
        l2radamanthys@gmail.com
        l2radamanthys@saltalug.org.ar
        ricardoquiroga.dev@gmail.com
    
    Sitio Web:
        http://www.l2radamanthys.com.ar
        http://www.l2radamanthys.tk
        http://l2radamanthys.unlugar.com 
        http://l2radamanthys.blogspot.com
	
	Descripcion:

        
    Terminos y Condiciones:
        Este Script es Software Libre y esta bajo terminos de la GNU General 
        Public Licence publicada por la Free Software Foundation 
        (http://www.fsf.org) version 2 de la licencia u/o (opcionalmente) 
        otras versiones de la licencia.
    
        Usted puede redistribuir y/o modificar este Script 
        siguiendo los terminos de la GNU General Public Licence
        para mayor informacion vease la copia de la licencia que
        se adjunta con estos Script.
*/

$PKGLINE


public class $CLASSNAME {
	/**************************************************************************
    Descipcion de la Clase
    ***************************************************************************/
    
	//-------------------- Atributos -------------------------------//
    
    
    //-------------------- Constructores ---------------------------//
    public $CLASSNAME() {
        /*
        Constructor de la Clase
        */
    }
    
    //-------------------- Metodos ---------------------------------//
    
}//Fin de la Clase $CLASSNAME
