snippet if "agrega bloque if" b
{{#if ${0} }}
  ${1}
{{/if}}
endsnippet

snippet iif "agrega bloque if inline" b
{{if ${0} ${1} }}
endsnippet

snippet unless "agrega bloque unless" b
{{#unless ${0} }}
  ${0}
{{/unless}}
endsnippet

snippet for "agrega un bloque for" b
{{#each ${0} as | ${1}}}
  ${2}
{{/each}}
endsnippet

snippet each "agrega un bloque for" b
{{#each ${0} as | ${1}}}
  ${2}
{{/each}}
endsnippet

snippet {} "autocompleta el bloque" b
{{ ${0} }}
endsnippet

